.BlogPostSmall {
    background-color: white;
    padding: 15px 0;
    margin-bottom: 20px;
}

.BlogPostSmallImage {
    width: 115px;
    height: 100px;
}

.BlogPostSmallTitleContainer {
    height: 100%
}

.BlogPostSmallTitle {
    font-family: 'Suranna', serif;
    text-align: center;
    height: 100px;
    display: flex;
    align-items: center;
}