.BlogPostMd {
    background-color: white;
    padding: 15px 0;
    margin-bottom: 20px;
}

.BlogPostMdDate {
    font-family: 'Lato', sans-serif;
    color: #ff6a00;
    font-size: .7rem;
    padding: 5px 0;
}

.BlogPostMdImage {
    width: 100%;
    height: 250px;
}

.BlogPostMdTitle {
    font-family: 'Suranna', serif;
    text-align: center;
    height: 90px;
    padding-top: 15px;
}