.CarouselContainer {
    padding: 0 !important;
    z-index: -1;
}

.Slide {
    height: 70vh;
    position: relative;
    padding: 0 !important;
}

.SlideContent {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px 15%;
    background-color: rgba(0,0,0,.4)
}

.SlideTitle {
    width: 100%;
    text-align: center;
    color: white;
    font-family: 'Suranna', serif;
    font-size: 3rem;
}

.CarouselIndicators {
    color: white;
    font-size: 1.25rem;
    width: 100%;
    text-align: center;
}

.carousel_active {
    font-size: 2rem;
}

.CarouselIndicators span:hover {
    cursor: pointer;
}

.LoadingContainer {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}