.InstagramContainer {
    position: relative;
    height: 350px;
}

.InstagramTile {
    height: 175px;
}

.InstagramButton {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: black;
    color: white;
    border: 1px solid #ff6a00;
    padding: 5px 5px;
}